@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");

textarea {
  width: 95%;
  height: 200px;
  resize: vertical;
  box-sizing: border-box;
  margin: 10px;
}

h1,
h2,
p {
  font-weight: bold;
  font-size: larger;
  font-family: "Outfit", sans-serif;
}

h2 {
  margin-left: 8px;
}

h1 {
  font-weight: bolder;
  font-size: x-large;
}

html,
body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.content {
  display: flex;
  overflow-y: scroll;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: none;
}

.header {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffaff3;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.editor {
  flex-grow: 1;
}

.editor.sized {
  height: 50vh;
}

.scrollable {
  height: calc(100vh - 61px);
  overflow-y: scroll;
  flex-grow: 1;
}

.content {
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 61px);
}

@media (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
  .content {
    flex-direction: row;
    overflow-y: hidden;
  }

  .container {
    width: 50%;
    overflow-y: hidden;
  }
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

button {
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border: black solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Outfit", sans-serif;
}

.gleam-header {
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: rgb(240, 240, 240);
}

button:active {
  background-color: rgb(200, 200, 200);
}

#js-editor {
  flex-grow: 1;
}

.header > h2 {
  margin: 0px;
}

.gh-link {
  width: 24px;
  height: 24px;
}

.notyf__wrapper > * {
  color: black;
  font-family: "Outfit", sans-serif;
}

.btn-group {
  display: flex;
}

.btn-group button.active {
  background-color: rgb(230, 230, 230);
  cursor: default;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
  border-radius: 2px 0 0 2px;
}

.btn-group button:is(:last-child) {
  border-radius: 0 2px 2px 0;
}

.button-cluster {
  display: flex;
}

.button-cluster > * {
  margin-left: 10px;
}

.output-panel.hidden {
  display: none;
}
