@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");

body {
  user-select: none;
}

textarea {
  /* min-height: 10em; */
  padding: 5px;
  resize: vertical;
  box-sizing: border-box;
}

textarea,
.editor {
  border: 1px solid #aaa;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  user-select: initial;
  height: auto !important;
  display: block;
  min-height: 20em;
}

h1,
h2,
h3,
p {
  font-weight: bold;
  font-size: larger;
  font-family: "Outfit", sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-weight: bolder;
  font-size: x-large;
}

h2 {
  margin-left: 10px;
}

button {
  display: block;
  height: 2.5em;
  padding: 0.25em 1em;
  line-height: 110%;
  margin: 0;
  border: black solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

button:hover {
  background-color: rgb(240 240 240);
}

button:active {
  background-color: rgb(200 200 200);
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffaff3;
}

html,
body,
.spa {
  min-height: 100vh;
}
@media (min-width: 768px) and (min-resolution: 1dppx) {
  html,
  body,
  .spa {
    overflow: hidden;
    height: 100%;
  }
}

.spa {
  background: white;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: min-content auto;
}

.header {
  grid-area: header;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffaff3;
  border-bottom: 1px solid #444;
  box-shadow: rgb(0 0 0 / 0%) 0 0 0 0, rgb(0 0 0 / 0%) 0 0 0 0,
    rgb(0 0 0 / 10%) 0 1px 3px 0, rgb(0 0 0 / 6%) 0 1px 2px 0;
}

.header a,
.header a img {
  display: block;
}

/* stylelint-disable-line no-duplicate-selectors */
.main {
  grid-area: main;
  display: grid;
  grid-template: "source" 1fr "result" 1fr;
}

@media (min-width: 768px) and (min-resolution: 1dppx) {
  .main {
    grid-template: "source result" 1fr / 1fr 1fr;
  }
}

/* stylelint-disable-line no-duplicate-selectors */
.content {
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 61px);
}

@media (min-width: 800px) and (min-resolution: 1dppx) {
  .content {
    flex-direction: row;
    overflow-y: hidden;
  }

  .container {
    width: 50%;
    overflow-y: hidden;
  }
}

.source {
  grid-area: source;
  display: grid;
  grid-template-rows: min-content auto;
}

.result {
  grid-area: result;
  display: grid;
  grid-template: "main-output" 1fr "compiled-output" 1fr;
}

.main-output {
  grid-area: main-output;
  display: grid;
  grid-template-rows: min-content auto;
}

.compiled-output {
  grid-area: compiled-output;
  display: grid;
  grid-template-rows: minmax(1fr, auto) minmax(1fr, auto);
}

.output-panel {
  display: grid;
  grid-template-rows: min-content auto;
}

.actions-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 10px;
  min-height: 4em;
}

@media (min-width: 768px) and (min-resolution: 1dppx) {
  .actions-header {
    align-items: center;
  }
}

.header > h2 {
  margin: 0;
}

.gh-link {
  width: 24px;
  height: 24px;
}

/* stylelint-disable selector-class-pattern */
.notyf__wrapper > * {
  color: black;
  font-family: "Outfit", sans-serif;
}

.button-cluster {
  padding-left: 20px;
  flex: 1;
  display: grid;
  grid-gap: 5px;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-group button.active {
  background-color: rgb(230 230 230);
  cursor: default;
}

.button-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  gap: 0;
}

.button-group button {
  border-right-width: 0; /* Prevent double borders */
  border-radius: 2px 0 0 2px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIyIj48cGF0aCBkPSJNNSAyQzMuMzQ2IDIgMiAzLjM0NiAyIDV2MTRjMCAxLjY1NCAxLjM0NiAzIDMgM2gxNGMxLjY1NCAwIDMtMS4zNDYgMy0zVjVjMC0xLjY1NC0xLjM0Ni0zLTMtM0g1em0xOSAzdjE0YzAgMi43NDMtMi4yNTcgNS01IDVINWMtMi43NDMgMC01LTIuMjU3LTUtNVY1YzAtMi43NDMgMi4yNTctNSA1LTVoMTRjMi43NDMgMCA1IDIuMjU3IDUgNXoiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center right 0.5em;
  padding-right: 2em;
}

.button-group button.active {
  background-color: #a626a4;
  color: white;
  box-shadow: 0 1.5px 2px 0 rgb(0 0 0 / 50%) inset;
  cursor: default;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIyIj48cGF0aCBkPSJNMTAuMDQxIDE3bC00LjUtNC4zMTkgMS4zOTUtMS40MzUgMy4wOCAyLjkzN0wxNy4wMzcgN2wxLjQyMiAxLjQwOUwxMC4wNDEgMTd6TTUgMkMzLjM0NiAyIDIgMy4zNDYgMiA1djE0YzAgMS42NTQgMS4zNDYgMyAzIDNoMTRjMS42NTQgMCAzLTEuMzQ2IDMtM1Y1YzAtMS42NTQtMS4zNDYtMy0zLTNINXptMTkgM3YxNGMwIDIuNzQzLTIuMjU3IDUtNSA1SDVjLTIuNzQzIDAtNS0yLjI1Ny01LTVWNWMwLTIuNzQzIDIuMjU3LTUgNS01aDE0YzIuNzQzIDAgNSAyLjI1NyA1IDV6IiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=");
}

.button-group button:last-child {
  border-right-width: 1px;
  border-radius: 0 2px 2px 0;
}

.output-panel.hidden {
  display: none;
}

.log-container {
  font-family: monospace, monospace; /* stylelint-disable-line font-family-no-duplicate-names */
  font-size: 85%;
  user-select: text;
  margin: 0 10px;
  border: 1px solid #aaa;
  overflow: auto;
  white-space: pre-wrap;
  max-height: calc(60vh - 100px);
}

.log-container [data-log-level],
.log-container .group-header {
  padding: 1px 8px;
  border-bottom: 1px solid #00000010;
}

.log-container .group-header {
  color: #333;
  font-weight: bold;
}

.log-container [data-log-level="clear"] {
  color: #aaa;
}

.log-container [data-log-level="trace"] {
  color: #555;
}

.log-container [data-log-level="warn"] {
  background-color: #fff7cd;
}

.log-container [data-log-level="error"] {
  background-color: #ffd0d0;
}

.log-container i {
  font-style: normal;
}

.log-container .num,
.log-container .bool,
.log-container .fn,
.log-container .tag {
  color: blue;
}

.log-container .str {
  color: #790000;
}

.log-container .sym {
  color: #035d00;
}

.log-container .field {
  color: #8d0081;
}

.log-container .undef {
  color: #777;
}

.log-container .clear {
  color: #888;
  font-style: italic;
}

.log-container .repr {
  color: #a07500;
  font-style: italic;
}

.log-container .console-group {
  padding-left: 20px;
}

.log-container .console-group.closed {
  display: none;
}

.log-container [data-log-level] div {
  display: inline-block;
  vertical-align: text-top;
}

.log-container [data-log-level] .object {
  display: inline-flex;
  flex-direction: column;
  border-left: 2px solid #ccc;
  padding: 0 5px 0 25px;
}

/* stylelint-disable-next-line no-descending-specificity */
.log-container button {
  border: none;
  margin: -2px 0;
  padding: 0;
  display: inline-block;
  height: 20px;
  min-width: 20px;
  text-align: center;
  background-color: transparent;
  letter-spacing: 0.02em;
}

.log-container .expand {
  padding: 0 0 0 20px;
}

.log-container button.arrow-button {
  font-size: 110%;
  margin-left: -20px;
}

.log-container .object > .expand {
  margin-left: -20px;
}

.group-header > button.arrow-button {
  margin-left: 0;
}
