.log-container {
  font-family: monospace, monospace; /* stylelint-disable-line font-family-no-duplicate-names */
  font-size: 85%;
  user-select: text;
  margin: 0 10px;
  border: 1px solid #aaa;
  overflow: auto;
  white-space: pre-wrap;
  max-height: calc(60vh - 100px);
}

.log-container [data-log-level],
.log-container .group-header {
  padding: 1px 8px;
  border-bottom: 1px solid #00000010;
}

.log-container .group-header {
  color: #000c;
  font-weight: bold;
}

.log-container [data-log-level="clear"] {
  color: #0005;
}

.log-container [data-log-level="trace"] {
  color: #000a;
}

.log-container [data-log-level="warn"] {
  background-color: #fff7cd;
}

.log-container [data-log-level="error"] {
  background-color: #ffd0d0;
}

.log-container i {
  font-style: normal;
}

.log-container .num,
.log-container .bool,
.log-container .fn,
.log-container .tag {
  color: blue;
}

.log-container .str {
  color: #790000;
}

.log-container .sym {
  color: #035d00;
}

.log-container .field {
  color: #8d0081;
}

.log-container .undef {
  color: #0008;
}

.log-container .clear {
  color: #0007;
  font-style: italic;
}

.log-container .repr {
  color: #a07500;
  font-style: italic;
}

.log-container .console-group {
  padding-left: 20px;
}

.log-container .console-group.closed {
  display: none;
}

.log-container [data-log-level] div {
  display: inline-block;
  vertical-align: text-top;
}

.log-container [data-log-level] .object {
  display: inline-flex;
  flex-direction: column;
  border-left: 2px solid #0004;
  padding: 0 5px 0 25px;
}

/* stylelint-disable-next-line no-descending-specificity */
.log-container button {
  border: none;
  border-radius: 3px;
  margin: -2px 0;
  padding: 0 5px;
  display: inline-block;
  height: 20px;
  min-width: 20px;
  text-align: center;
  background-color: transparent;
  letter-spacing: 0.02em;
}

.log-container button:hover {
  background-color: #f073;
  outline: none;
}

.log-container button:focus {
  box-shadow: inset 0 0 0 2px #f073;
  outline: none;
}

.log-container .expand {
  padding: 0 0 0 20px;
}

.log-container button.arrow-button {
  font-size: 110%;
  margin-left: -20px;
  padding: 0;
}

.log-container .object > .expand {
  margin-left: -20px;
}

.group-header > button.arrow-button {
  margin-left: 0;
}
